.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url(../images/216800423_4190034654397877_2777910676194352277_n.jpg) center
      top;
  background-size: cover;

  &-name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);
  }

  &-lastname {
    color: $secondary-color;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .home {
    background-size: cover;
    padding-top: 40vh;

    &-name {
      font-size: 4rem;
      padding-bottom: 1rem;
      margin: 1rem;
      border-bottom: 2px solid set-text-color($primary-color);
    }

    &-lastname {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
