@import "./config";

.projects {
  padding-bottom: 2rem;

  &-bio-image {
    height: 60vh;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.5),
        rgba($primary-color, 0.8)
      ),
      url(..//images/1012302_511471672254212_127515971_n.jpg) center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 6px solid $secondary-color;

    .text-secondary {
      font-size: 4rem;
      margin-bottom: 4rem;
      text-shadow: 2px 2px #616161;
    }
  }

  &-items {
    width: 100%;
    // margin: 2rem auto 0 auto;
    margin: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .first-project::after {
    @include secondaryCover("Iphone Calculator (JS)");
  }

  .second-project::after {
    @include secondaryCover("Weather App (JS / SCSS)");
  }

  .third-project::after {
    @include secondaryCover("Chat App (React)");
  }

  .fourth-project::after {
    @include secondaryCover("Quiz App (React)");
  }

  .fifth-project::after {
    @include secondaryCover("Translator App (JS)");
  }

  .sixth-project::after {
    @include secondaryCover("Amazon Website Clone (JS)");
  }

  .seventh-project::after {
    @include secondaryCover("Hangman Game (React & TS)");
  }

  &-item {
    width: 100%;
    display: flex;
    margin: 4rem 0px;
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    @include centerContent;

    .logo-button {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      &-preview {
        flex-direction: column;
        @include centerContent;
        margin-right: 50px;
      }

      &-github {
        flex-direction: column;
        @include centerContent;
        margin-left: 60px;
      }

      img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 25px;
      }

      button {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: $primary-color;
        color: white;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 10px;
        transition: color 0.4s ease;
        transition: background-color 0.4s ease;
      }

      button:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }

    img {
      max-width: 60%;
      max-height: 300px;
      object-fit: cover;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }
      .projects-buttons {
        opacity: 1;
      }
    }

    &-buttons {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      text-align: center;
    }

    &-button {
      opacity: 0;
      color: set-text-color($secondary-color);
      @include transition-ease;

      &:hover {
        color: set-text-color(set-text-color($secondary-color));
      }
    }

    img {
      width: 60%;
      height: 50%;
    }
  }

  .social-icons {
    display: flex;

    flex-direction: row;
  }

  footer {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .projects {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;

    &-bio-image {
      height: 40vh;
      width: 100%;
      background: linear-gradient(
          to right,
          rgba($primary-color, 0.5),
          rgba($primary-color, 0.8)
        ),
        url(..//images/1012302_511471672254212_127515971_n.jpg) center top;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      border-bottom: 6px solid $secondary-color;

      .text-secondary {
        font-size: 3rem;
        margin-bottom: 4rem;
        text-shadow: 2px 2px #616161;
      }
    }

    .first-project::after {
      content: "Iphone Calculator";
      display: flex;
      top: 125px;
      border-radius: 10px;
      height: 30%;
      width: 48%;
      margin-left: 35px;
      transition: all 0.5s ease-in-out;
      font-size: 1.5rem;
    }

    .second-project::after {
      content: "Weather App";
      display: flex;
      top: 125px;
      border-radius: 10px;
      height: 30%;
      width: 48%;
      margin-left: 35px;
      transition: all 0.5s ease-in-out;
      font-size: 1.5rem;
    }

    .third-project::after {
      content: "Chat App (React)";
      display: flex;
      top: 125px;
      border-radius: 10px;
      height: 30%;
      width: 48%;
      margin-left: 35px;
      transition: all 0.5s ease-in-out;
      font-size: 1.5rem;
    }

    .fourth-project::after {
      content: "Quiz App (React)";
      display: flex;
      top: 125px;
      border-radius: 10px;
      height: 30%;
      width: 48%;
      margin-left: 35px;
      transition: all 0.5s ease-in-out;
      font-size: 1.5rem;
    }

    .fifth-project::after {
      content: "Translator App";
      display: flex;
      top: 125px;
      border-radius: 10px;
      height: 30%;
      width: 48%;
      margin-left: 35px;
      transition: all 0.5s ease-in-out;
      font-size: 1.5rem;
    }

    .sixth-project::after {
      content: "Amazon Website Clone";
      display: flex;
      top: 125px;
      border-radius: 10px;
      height: 30%;
      width: 48%;
      margin-left: 35px;
      transition: all 0.5s ease-in-out;
      font-size: 1.5rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-bottom: 10px solid $secondary-color;
      margin: 40px 0px;
    }

    .logo-button {
      width: 100%;
      margin: 0;

      button {
        width: auto;
        margin: 15px 0;
        width: 300px;
        font-size: 1.2rem;
        border-radius: 2rem;
      }

      img {
        display: none;
      }
    }
  }
  textarea {
    height: 18vh;
  }
  #icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
  }
}
